(c) 2016 - present. Enplus Advisors, Inc.

In [1]:
import numpy as np
import pandas as pd

In [18]:
dat = pd.read_csv('starmine.csv', parse_dates=['date'])
dat = dat.set_index(['date', 'symbol'], verify_integrity=True).sort_index()
dat

                         id                       name country sector  sec  \
date       symbol
1995-01-31 0223B   87259410        Tnp Enterprises Inc     USA  Utils  UTL
           0392B   44701594     Huntsman Polymers Corp     USA  Manuf  MAT
           0485B   05978410                Banctec Inc     USA  HiTec  TEC
           0491B   25660510           Dole Food Co Inc     USA  NoDur  CNS
           0517B   89621510                Trimas Corp     USA  Manuf  IND
...                     ...                        ...     ...    ...  ...
1995-11-30 ZLC     98885810                  Zale Corp     USA  Shops  CND
           ZQK     74838C10             Quiksilver Inc     USA  NoDur  CND
           ZRC     98982210  Zurich Reins Centre Hldgs     USA  Money  FIN
           ZRN     98982410        Zurn Industries Inc     USA  Manuf  IND
           ZRO     98948410               Zero Corp/de     USA  Manuf  IND

                     ind      size   smi       liq  ret_0_1_m  ...  ret_1_0_m  \
date       symbol                                              ...
1995-01-31 0223B   ELUTL -1.269609  52.0       NaN  -0.019461  ...   0.016807
           0392B   CHEMS -1.906326   NaN       NaN  -0.034483  ...  -0.105263
           0485B   ITCON -1.081318  11.0       NaN  -0.089655  ...  -0.149425
           0491B   FDPRD  0.608282  26.0  0.084006  -0.051092  ...   0.179348
           0517B   MACHN  0.053782  72.0 -0.318195   0.146497  ...  -0.010561
...                  ...       ...   ...       ...        ...  ...        ...
1995-11-30 ZLC     SPRET -0.084071  89.0 -0.132532  -0.030075  ...   0.157895
           ZQK     TEXAP -0.358891  79.0       NaN   0.085333  ...   2.329524
           ZRC     INSUR  0.109285  27.0 -0.445368   0.042074  ...   0.004348
           ZRN     CNENG -0.619453  45.0       NaN  -0.124044  ...  -0.020000
           ZRO     ELEQT -0.774588   NaN       NaN   0.118110  ...   0.040176

                   ret_6_0_m  ret_12_0_m  mn_dollar_volume_20_d  \
date       symbol
1995-01-31 0223B    0.037494   -0.083792               158116.9
           0392B    0.118421    2.148148              1687355.0
           0485B   -0.086420   -0.177778              2398715.0
           0491B   -0.028464   -0.055357              5373490.0
           0517B   -0.142731   -0.167145               524532.5
...                      ...         ...                    ...
1995-11-30 ZLC      0.466667    0.294118              3169798.0
           ZQK      2.375238    4.241905              2635399.0
           ZRC     -0.017021    0.089623               395053.0
           ZRN      0.228201    0.448821               998069.6
           ZRO      0.151178    0.236619               327082.1

                   md_dollar_volume_120_d       cap_usd           cap  \
date       symbol
1995-01-31 0223B                 312075.0  1.657880e+08  1.657880e+08
           0392B                1586025.0  1.141984e+08  1.141984e+08
           0485B                1212200.0  1.947350e+08  1.947350e+08
           0491B                2730825.0  1.635040e+09  1.635040e+09
           0517B                 532500.0  7.182750e+08  7.182750e+08
...                                   ...           ...           ...
1995-11-30 ZLC                  1306688.0  5.815924e+08  5.815924e+08
           ZQK                  1761550.0  4.108230e+08  2.054115e+08
           ZRC                   186450.0  7.641270e+08  7.641270e+08
           ZRN                   703500.0  3.023300e+08  3.023300e+08
           ZRO                   219075.0  2.534126e+08  2.534126e+08

                          sales  net_income  common_equity
date       symbol
1995-01-31 0223B   4.742420e+08  11605000.0   2.136270e+08
           0392B   4.293530e+08 -25243000.0  -5.137000e+06
           0485B   2.475380e+08  16343000.0   1.282730e+08
           0491B   3.430521e+09  77889000.0   1.052114e+09
           0517B   4.432300e+08  38000000.0   2.448500e+08
...                         ...         ...            ...
1995-11-30 ZLC     1.125749e+09  31470000.0   3.918900e+08
           ZQK     1.270880e+08   7738000.0   5.493800e+07
           ZRC     2.432220e+08 -31192000.0   5.652470e+08
           ZRN     4.631810e+08   9324000.0   2.189300e+08
           ZRO     1.796940e+08  14825000.0   1.455940e+08

[27594 rows x 21 columns]

**Exercise:**

Calculate the average `smi` by sector.

In [17]:
#dat.head(2)
#dat.groupby??
dat2 = dat.groupby(['sector']).mean()
dat2

,size,smi,liq,ret_0_1_m,ret_0_6_m,ret_1_0_m,ret_6_0_m,ret_12_0_m,mn_dollar_volume_20_d,md_dollar_volume_120_d,cap_usd,cap,sales,net_income,common_equity
sector,,,,,,,,,,,,,,,
Durbl,-0.189716,41.495868,0.078430,0.008725,0.082600,0.369323,0.483932,0.551252,4.873687e+06,3.812217e+06,2.176832e+09,1.679063e+09,6.103897e+09,2.067388e+08,9.956670e+08
Enrgy,0.022544,37.072148,0.149090,0.022703,0.152338,1.421843,1.586326,1.456143,6.519556e+06,5.025912e+06,4.104717e+09,3.912154e+09,4.378669e+09,1.577575e+08,1.701880e+09
HiTec,-0.501376,61.005006,0.282488,0.035433,0.171710,0.183587,0.428350,0.734483,1.656935e+07,1.117157e+07,1.590600e+09,1.594608e+09,9.058013e+08,4.475932e+07,3.705730e+08
Hlth,-0.471624,51.898917,0.221038,0.040165,0.265400,0.433716,0.589984,0.736342,7.956624e+06,5.696200e+06,2.251052e+09,2.321334e+09,8.691175e+08,8.757584e+07,4.532273e+08
Manuf,-0.054991,54.563836,0.102762,0.017884,0.105118,0.434756,0.542310,0.644973,7.041528e+06,5.146832e+06,2.087164e+09,2.036418e+09,2.056202e+09,9.557939e+07,6.528402e+08
Money,-0.138545,52.549612,0.045275,0.029415,0.160542,0.536957,0.742527,0.894467,5.126816e+06,3.638438e+06,1.712446e+09,1.694405e+09,1.388631e+09,1.252649e+08,9.253675e+08
NoDur,0.015067,45.263033,0.093108,0.015161,0.092159,0.241489,0.344189,0.475787,6.829717e+06,5.341912e+06,3.129786e+09,3.135726e+09,2.605131e+09,1.495742e+08,7.505273e+08
Other,-0.301217,45.847586,0.091874,0.017988,0.140259,0.685061,0.756287,0.889778,5.014870e+06,3.672359e+06,1.580023e+09,1.556535e+09,1.413019e+09,6.554725e+07,5.149112e+08
Shops,-0.313563,46.668071,0.145845,0.008681,0.083311,0.651006,0.843262,1.090119,5.426291e+06,4.062715e+06,1.518442e+09,1.485522e+09,2.850305e+09,7.223348e+07,5.043003e+08
Telcm,0.188697,43.003344,0.133679,0.021777,0.148576,0.081899,0.390068,0.694146,1.163978e+07,8.735269e+06,5.388131e+09,5.383549e+09,3.089465e+09,1.413461e+08,1.557271e+09
Utils,0.384231,46.740057,-0.004264,0.017797,0.102633,0.557649,0.571972,0.533341,3.672562e+06,2.742135e+06,2.149179e+09,2.140896e+09,1.847198e+09,1.690422e+08,1.469459e+09

**Exercise:**

Compute summary statistics on `smi` and `cap_usd` using 
the `describe` method.

In [19]:
dat2[['smi','cap_usd']].describe()

             smi       cap_usd
count  11.000000  1.100000e+01
mean   47.827953  2.517125e+09
std     6.707926  1.225839e+09
min    37.072148  1.518442e+09
25%    44.133189  1.651523e+09
50%    46.668071  2.149179e+09
75%    52.224264  2.690419e+09
max    61.005006  5.388131e+09

**Exercise:**

By month describector, calculate the median of `size` and standard deviation of `liq`.

Note that there is only one date per month so you can group by `date` and `sector`)

In [23]:
grp = dat.groupby(['date','sector'])
grp.agg(
        siz = ('size','median'),
        liq = ('liq',np.std)
)

                        siz       liq
date       sector
1995-01-31 Durbl  -0.209173  0.249388
           Enrgy  -0.196118  0.261843
           HiTec  -0.616841  0.216948
           Hlth   -0.574538  0.225687
           Manuf  -0.059248  0.271732
...                     ...       ...
1995-11-30 NoDur   0.048762  0.275936
           Other  -0.282161  0.268359
           Shops  -0.292740  0.252594
           Telcm   0.136029  0.310414
           Utils   0.444181  0.242624

[121 rows x 2 columns]

**Exercise:**

By month, calculate quantiles for smi using the quantiles defined in `breaks`. 

Use either the built-in `pandas` quantile approximation method defined
a `Series` or the `numpy` quantile algorithm.

In [21]:
breaks = [0.01, 0.25, 0.5, 0.75, 0.99]

In [22]:
grp2 = dat.groupby('date')
grp2.apply(lambda df: df.smi.quantile(breaks))

smi         0.01  0.25  0.50  0.75    0.99
date
1995-01-31   2.0  28.0  51.0  78.0  100.00
1995-02-28   2.0  28.0  49.0  78.0  100.00
1995-03-31   2.0  26.0  49.0  73.0   99.46
1995-04-30   2.0  26.0  48.0  77.0  100.00
1995-05-31   2.0  28.0  49.0  75.0  100.00
1995-06-30   2.0  28.0  51.0  74.0  100.00
1995-07-31   2.0  28.0  52.0  78.0  100.00
1995-08-31   2.0  28.0  50.0  77.0   99.00
1995-09-30   2.0  28.0  50.0  74.0   99.00
1995-10-31   2.0  28.0  52.0  78.0  100.00
1995-11-30   2.0  29.0  50.0  72.0   99.00